html {
  text-align: center;
  min-width: 320px;
  background-color: #E8FFFB;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

hr.solid {
  border-top: rgb(59, 103, 114) solid 2px;
}

.textLink {
  font-weight: 600;
}

.allBooks {
  width: 100%;
}

.bookSelectors {
  margin: 0 auto;
}


.themeSelectors {
  width: 75%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.tileSquare {
  display: inline-grid;
  margin: 5px;
  width: 24%;
  height: 300px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  min-width: 150px;
  box-shadow: 2px 5px 5px;
}

.tileTitle {
  color: black;
}

.tileImage {
  margin: 0 auto;
  width: 50%;
  height: 90%;
  object-fit: contain;
  overflow: hidden;
  min-width: 100px;
}

.bookPageDiv {
  display: flex;
}

.bookPageDetails {
flex: 1;
}

.bookPageImageDiv {
flex: 1;
margin-top: 15px;
}

.bookPageImage {
width: 250px;
}

.bookPageQuote {
  font-style: italic;
  font-size: larger;
}

.photo {
  width: 400px
}

@media screen and (max-width: 600px) {
  .photo {
    width: 75%;
  }
}

/* React page start */

.reactHead {
  width: 95%;
  background-color: rgb(163, 255, 255);
}

.reactBody {
  width: max-content;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
}

.reactInput {
  width: 90px;
  text-align: center;
}

.sudokuCell {
  width: 50px;
  text-align: center;
}

.borderBottom {
  border-bottom: solid;
}

.borderRight {
  border-right: solid;
}

.checkoutColumn {
  width: 98px;
  height: max-content;
  background-color: yellow;
  float: left;
  margin: 2px;
}

.checkoutHead {
  width: 100px;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
  border-radius: 5%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.checkoutItem {
  width: 100px;
  height: 100px;
  background-color: rgb(133, 133, 212);
  border-radius: 5%;
  display: flex;
  justify-content:center;
  align-items:center;
  border: 1px solid black;
}

/* React page end */

@media (max-width: 1000px) {
  .themeSelectors {
    display: contents;
  }
}

@media (max-width: 500px) {
  .bookPageDiv {
    flex-direction: column-reverse;
  }

  .bookPageImage {
    margin: 0 auto;
    justify-content: center;
    }
}