html {
  text-align: center;
  min-width: 320px;
  background-color: #E8FFFB;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #53b2f1;
  overflow: hidden;
  display: flex;
}

.topnav ul {
  width: 100%;
  padding-left: 0px;
}

/* Style the links inside the navigation bar */
.topnav ul li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav ul li a {
  padding: 15px;
  display: block;
}

/* Change the color of links on hover */
.topnav ul li:hover {
  background-color: #3c8eaf;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav ul li {display: none;}
  .topnav ul li.icon {
    float: left;
    display: block;
    padding: 15px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul li {
    float: none;
    display: block;
    text-align: left;
  }
}

hr.solid {
  border-top: rgb(59, 103, 114) solid 2px;
}

.textLink {
  font-weight: 600;
}

.allBooks {
  width: 100%;
}

.bookSelectors {
  margin: 0 auto;
}

#bookSort {
  margin: 15px;
}

.themeSelectors {
  width: 75%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.bookTileSquare {
  display: inline-grid;
  margin: 5px;
  width: 24%;
  height: 300px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  min-width: 150px;
}

.bookTileTitle {
  color: black;
}

.bookTileImage {
  margin: 0 auto;
  width: 50%;
  height: 90%;
  object-fit: contain;
  overflow: hidden;
  min-width: 100px;
  margin-bottom: 20px;
}

.bookPageDiv {
  display: flex;
}

.bookPageDetails {
flex: 1;
}

.bookPageImageDiv {
flex: 1;
margin-top: 15px;
}

.bookPageImage {
width: 250px;
}

.bookPageQuote {
  font-style: italic;
  font-size: larger;
}

.photo {
  width: 400px
}

@media screen and (max-width: 600px) {
  .photo {
    width: 75%;
  }
}

/* React page start */

.reactHead {
  width: 95%;
  height: 100px;
  background-color: cyan;
}

.reactBody {
  width: max-content;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
}

.checkoutColumn {
  width: 98px;
  height: max-content;
  background-color: yellow;
  float: left;
  margin: 2px;
}

.checkoutHead {
  width: 100px;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
  display: flex;
  justify-content:center;
  align-items:center;
}

.checkoutQueue {
  width: 100px;
  height: max-content;
  background-color: green;
}

.checkoutItem {
  width: 100px;
  height: 100px;
  background-color: rgb(133, 133, 212);
  display: flex;
  justify-content:center;
  align-items:center;
  border: 1px solid black;
}

/* React page end */

@media (max-width: 1000px) {
  .themeSelectors {
    display: contents;
  }
}

@media (max-width: 500px) {
  .bookPageDiv {
    flex-direction: column-reverse;
  }

  .bookPageImage {
    margin: 0 auto;
    justify-content: center;
    }
}