.App {
  text-align: center;
}

.allBooks {
  width: 100%;
}

.bookSquare {
  display: inline-grid;
  margin: 5px;
  width: 24%;
  height: 300px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  min-width: 150px;
}

.bookImage {
  margin: 0 auto;
  width: 50%;
  height: 90%;
  object-fit: contain;
  overflow: hidden;
  min-width: 100px;
}
