html {
  text-align: center;
  min-width: 320px;
  background-color: #E8FFFB;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  border-bottom: rgb(59, 103, 114) solid 5px;
  margin-bottom: 10px;
}

.navLogo {
  height: 38px;
  float: left;
}

nav ul {
  list-style: none;
  padding-inline-start: 0px;
}

nav ul li {
  background-color: rgb(150, 194, 211);
  display: inline;
  font-size: 25px;
  padding: 5px;
  margin: 0 20px;
}

.allBooks {
  width: 100%;
}

.bookTileSquare {
  display: inline-grid;
  margin: 5px;
  width: 24%;
  height: 300px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  min-width: 150px;
}

.bookTileTitle {
  color: black;
}

.bookTileImage {
  margin: 0 auto;
  width: 50%;
  height: 90%;
  object-fit: contain;
  overflow: hidden;
  min-width: 100px;
  margin-bottom: 20px;
}

.bookPageDiv {
  display: flex;
}

.bookPageDetails {
flex: 1;
}

.bookPageImageDiv {
flex: 1;
}

.bookPageImage {
width: 250px;
}

.bookPageQuote {
  font-style: italic;
  font-size: larger;
}

@media (max-width: 500px) {
  .bookPageDiv {
    flex-direction: column-reverse;
  }

  .bookPageImage {
    margin: 0 auto;
    justify-content: center;
    }
}